// inject:global
// endinject

// bower:scss
// endbower
  
// inject:app
// endinject


@import url('https://fonts.googleapis.com/css?family=Oxygen:300,400,700');
$font-family-base: 'Oxygen', sans-serif;
//@import "bootstrap";
//@import "font-awesome";



$corner-radius: 3px;
$item-border: 1px solid $scheme-dark-grey;

@mixin shadow {
    -webkit-box-shadow: 2px 2px 5px 0px $color-drop-shadow;
    -moz-box-shadow: 2px 2px 5px 0px $color-drop-shadow;
    box-shadow: 2px 2px 5px 0px $color-drop-shadow;
}

@mixin item-border {
    border: 1px solid $scheme-dark-grey;
}

html {
    font-family: 'Oxygen', sans-serif;
    width: 100%;
}

body {
    padding: 0;
    margin: 0;
    background: $color-bg;
}

.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

h1, h2 {
    display: block;
    margin: 10px 0;
    text-align: center;
    font-weight: $font-thin;
}

div.player-card {
    padding: 10px;    
}

div.player-card div {
	display: inline-block;
	vertical-align: top;
}

div.player-card div.content {
	
}	

div.player-card .thumbnail {    
    margin: 0;
    margin-right: 10px;
}

div.player-card .username {
    font-size: 1.2em;
    font-weight: $font-bold;
}

div.player-card .char {
    
}

div.player-card .type {
}

div.player-card .acc {
}

div.player-card .ranking {
	display: inline-block;
	text-align: right;
	float: right;
	font-weight: $font-bold;
}

div.player-card .ranking span {	
	display: inline-block;
}

div.player-card .ranking .rank {
    border: 1px solid #666;
    background: #eee;
    border-radius: $corner-radius;
    min-width: 2em;
    padding: 7px;
	font-size: 1.5em;
	line-height: 1em; 
}

div.player-card .ranking .score {
    padding-top: 6px;
	font-size: 1.2em;
}

span.status {
    display: inline-block;
    border-radius: $corner-radius;
    margin: 0;
    font-weight: $font-bold;
    line-height: 1em;
    color: $color-span-status-text;
    font-size: 0.9em;
    @include shadow();
}

span.status.new {
    border: 1px solid darken($color-span-status-new, 12%);
    background: $color-span-status-new;
}

span.status.new {
    padding: 4px 8px;
}

table {
    border-collapse: separate;
    @include item-border();
    @include shadow();
    border-radius: $corner-radius;
}

table tr td.center {
    text-align: center;
}

table tr.rowA {
    background: $color-tr-rowA;
}

table tr.rowB {
    background: $color-tr-rowB;
}

td, th {
    background-clip: padding-box;
    padding: 8px;
}

td {
    border-left: $item-border;
    border-top: $item-border;  
}

th {
    background-color: $color-th;
    color: $color-th-text;
    border-left: $item-border; 
}

td:first-child, th:first-child {
     border-left: none !important;
}

th:first-child {
    border-top-left-radius: $corner-radius * 0.6;
}

th:last-child {
    border-top-right-radius: $corner-radius * 0.6;
}

tr:last-child td:first-child {
    border-bottom-left-radius: $corner-radius * 0.6;
}

tr:last-child td:last-child {
    border-bottom-right-radius: $corner-radius * 0.6;
}