// inject:global
// endinject

// bower:scss
// endbower
  
// inject:app
// endinject


@import url('https://fonts.googleapis.com/css?family=Oxygen:300,400,700');
$font-family-base: 'Oxygen', sans-serif;
//@import "bootstrap";
//@import "font-awesome";

$background-color:#f3f3f3;
$nav-text: #fff;

html {
    font-family: 'Oxygen', sans-serif;
    width: 100%;
}

body {
    padding: 0;
    margin: 0;
    background: $background-color;
}

.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

h1, h2 {
    display: block;
    margin: 10px 0;
    text-align: center;
    font-weight: $font-thin;
}

div.player-card {
    padding: 10px;
    border: 1px solid $color-dark-grey;
}

div.player-card div {
	display: inline-block;
	vertical-align: top;
}

div.player-card div.content {
	
}	

div.player-card .thumbnail {    
    margin-right: 10px;
}

div.player-card .username {
    font-size: 1.2em;
    font-weight: $font-bold;
}

div.player-card .char {
}

div.player-card .type {
}

div.player-card .acc {
}

div.player-card .ranking {
	display: inline-block;
	text-align: right;
	float: right;
	font-weight: $font-bold;
}

div.player-card .ranking span {	
	display: inline-block;
}

div.player-card .ranking .rank {	
	font-size: 1.5em;
	line-height: 1em; 
}

div.player-card .ranking .score {
    padding-top: 4px;
	font-size: 1.2em;
}